html{
  font-size: 16px; 
  font-family: 'Raleway', sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #F2E8CF;
}

nav{
  background-color: #386641;
  padding: 0.4rem;
}

ul{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

li > a {
  text-decoration: none;
  background-color: #A7C957;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  margin: 1rem; 
  color: black;
} 

/* This is the landing page */

h1{
  text-align: center;
  font-family: 'Reem Kufi', sans-serif;
}

.gap{
  height: 0.1rem;
  background-color: #F2E8CF;
}

.gap-two{
  height: 0.1rem;
  background-color: #6A994E;
}

.add-form{
  display: flex;
  justify-content: center;
  margin: 2rem 0rem;
}

.adding{
  background: #A7C957;
  padding: 2rem 1rem;
  text-align: center;
  line-height: 2.5rem;
  border-radius: 1rem;
  width: 30%;
}

.adding > button {
  background-color: #6A994E;
  padding: 0.5rem 2rem;
  border-radius: 0.2rem;
  border: none;
}