html{
  font-size: 16px; 
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #F2E8CF;
}

nav{
  background-color: #386641;
  padding: 0.4rem;
}

ul{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

li > a {
  text-decoration: none;
  background-color: #A7C957;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  margin: 1rem; 
  color: black;
} 

/* This is the profile page */

h1, h2{
  text-align: center;
}

.photo-overview{
  margin: 1rem 2rem;
}

.trips-overview{
  background-color: #6A994E;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 45%;
  border-radius: 1rem;
}

.photo-overview > img{
  border: 2px solid #F2E8CF;
}

img{
  width: 200px;
}

.details-overview {
  margin-left: 2rem;
}

.details-overview > a {
  background-color: #A7C957;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: black;
  border-radius: 0.2rem;
}

.gap{
  height: 0.1rem;
  background-color: #F2E8CF;
}

a:hover{
  background-color: #BC4749;
}

a:active{
  background-color: #692627;
}