html{
  font-size: 16px; 
  font-family: 'Raleway', sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #F2E8CF;
}

nav{
  background-color: #386641;
  padding: 0.4rem;
}

ul{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

li > a {
  text-decoration: none;
  background-color: #A7C957;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  margin: 1rem; 
  color: black;
} 

img{
  width: 200px;
}

h1{
  font-size: 3rem;
  text-align: center;
  font-family: 'Reem Kufi', sans-serif;
}

.trips-search{
  background-color: #6A994E;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 45%;
  border-radius: 1rem;
}

.photo-search{
  margin: 1rem 2rem;
}

.photo-search > img{
  border: 2px solid #F2E8CF;
}

.details-search {
  margin-left: 2rem;
}

.details-search > a {
  background-color: #A7C957;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: black;
  border-radius: 0.2rem;
}

.gap{
  height: 0.1rem;
  background-color: #F2E8CF;
}

.gap-two{
  height: 0.1rem;
  background-color: #6A994E;
}

a:hover{
  background-color: #BC4749;
}

a:active{
  background-color: #692627;
}

.back-button{
  display: flex;
  justify-content: center;
}

.back-button > a {
  text-align: center;
  margin: 0 auto;
  background-color: #A7C957;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: black;
  border-radius: 0.2rem;
}

.back-button > a:hover{
  background-color: #BC4749;
}

.back-button > a:active{
  background-color: #692627;
}
