html{
  font-size: 16px; 
  font-family: 'Raleway', sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #F2E8CF;
}

nav{
  background-color: #386641;
  padding: 0.4rem;
}

ul{
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}

li > a {
  text-decoration: none;
  background-color: #A7C957;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  margin: 1rem; 
  color: black;
} 

/* This is the landing page */

.header{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin-top: 2rem;
}

.headline{
  grid-column: 4 / -1;
  grid-row: 4/5;
  background-color: #BC4749;
  font-size: 2rem;
  text-align: center;
  width: 90%;
  height: 80%;
  padding:2.5rem 0rem 0rem 0rem;
  border: 3px solid #F2E8CF;
  font-family: 'Reem Kufi', sans-serif;
}

.photo{
  grid-column: 1 / 4;
  grid-row: 1 / -1; 
  padding-left: 15rem;
}

.photo > img{
  width: 1000px;
}

img{
  width: 200px;
}

.filter-form{
  display: flex;
  justify-content: center;
  margin: 2rem 0rem;
}

.filter-trips{
  background: #A7C957;
  padding: 2rem 1rem;
  text-align: center;
  line-height: 2.5rem;
  border-radius: 1rem;
  width: 30%;
}

.filter-trips > button {
  background-color: #6A994E;
  padding: 0.5rem 2rem;
  border-radius: 0.2rem;
  border: none;
}

.trips-overview{
  background-color: #6A994E;
  padding: 1rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 45%;
  border-radius: 1rem;
}

.photo-overview{
  margin: 1rem 2rem;
}

.photo-overview > img{
  border: 2px solid #F2E8CF;
}

.details-overview {
  margin-left: 2rem;
}

.details-overview > a {
  background-color: #A7C957;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: black;
  border-radius: 0.2rem;
}

.gap{
  height: 0.1rem;
  background-color: #F2E8CF;
}

.gap-two{
  height: 0.1rem;
  background-color: #6A994E;
}

a:hover{
  background-color: #BC4749;
}

a:active{
  background-color: #692627;
}