<head>
  <link rel="stylesheet" href="/stylesheets/add.css" />
</head>

<nav>
  <ul>
    <li><a href="/profile">Back to my profile</a></li>
    <li><a href="/">See all the trips</a></li>
  </ul>
</nav>

<h1>Add a new route</h1>
<div class="add-form">
  <form action="/add" method="POST" enctype="multipart/form-data" class="adding">
    <label for="Title">Give your route a name:</label>
    <input type="text" name="title" id="title">
    <br>
    <label for="Address">Enter address of starting point:</label>
    <input type="text" name="Address" id="Address">
      <br>
    <label for="District">Which district starts the tour in?</label>
    <select id="District" name="District">
      <option value="Reinickendorf">Reinickendorf</option>
      <option value="Pankow">Pankow</option>
      <option value="Mitte">Mitte</option>
      <option value="Charlottenburg-Wilmersdorf">Charlottenburg-Wilmersdorf</option>
      <option value="Friedrichshain-Kreuzberg">Friedrichshain-Kreuzberg</option>
      <option value="Lichtenberg">Lichtenberg</option>
      <option value="Marzahn-Hellersdorf">Marzahn-Hellersdorf</option>
      <option value="Neukölln">Neukölln</option>
      <option value="Spandau">Spandau</option>
      <option value="Steglitz-Zehlendorf">Steglitz-Zehlendorf</option>
      <option value="Tempelhof-Schöneberg">Tempelhof-Schöneberg</option>
      <option value="Treptow-Köpenick">Treptow-Köpenick</option>
    </select>
      <br>
    <label for="Distance">How long is the tour?</label>
    <input type="number" id="Distance" name="Distance">
      <br>
    <label for="mode">Mode:</label>
    <input type="radio" id="Bike" name="Mode" value="Bike">
    <label for="Bike">Bike</label>  
    <input type="radio" id="Hike" name="Mode" value="Hike">
    <label for="Hike">Hike</label>
      <br>
    <label for="location">Enter the geocodes to render a map (longitude & latitude):</label>
    <input type="number" name="location" id="location" placeholder="longitude">
    <input type="number" name="location" id="location" placeholder="latitude">
      <br>
    <label for ="Picture">Add a picture:</label>
    <input type="file" name="Picture" id="Picture">
      <br>
    <label for="Description">Describe the tour and give as much information as possible</label><br>
    <textarea id="Description" name="Description" rows="5" cols="30"></textarea>
      <br>
    <button type="submit">Submit route</button>
  </form>
</div>
