<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>

{{!-- need to add div with id="map" to render mapbox --}}
{{!-- Add mapbox token & create new map: here or do I need to do it in a specific js file? --}}
{{!-- starting position in new map should be the coordinates of tour start --}}
{{!-- set doubleClickZoom to true --}}
{{!-- Also need to set navigation thingy: check out screen shot for that--}}
{{!-- that sets the map but not yet the needle/marker! --}}
{{!-- Check out markers documentation --}}
{{!-- Coordinates that can change: Langitude & Latitude --}}