<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Berlin Tour</title>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      <script src='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
      <link href='https://api.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Reem+Kufi&display=swap" rel="stylesheet">  
   </head>

   <body>

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>